{% extends 'templates/account.twig' %}

{% block account_page %}

    <div class="order-item-full">
        <div class="order-item-full__left">
            <div class="panel panel-xs">
                <div class="order-item-step inline">
                    <svg width="16" height="16" class="order-item-step__icon">
                        <use xlink:href="img/svg/icons.svg#attention-16-16"></use>
                    </svg>

                    <span class="order-item-step__text">Принят, ожидается оплата</span>

                    <div class="order-item-step__arrows">
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>

                    <div class="order-item-road">
                        <div class="active">
                            <span>Принят, ожидается оплата</span>

                            <span>Заказ принят, но пока не обрабатывается (например, заказ только что создан или ожидается оплата заказа)</span>
                        </div>

                        <div>
                            <span>Принят, ожидается оплата</span>

                            <span>Заказ принят, но пока не обрабатывается (например, заказ только что создан или ожидается оплата заказа)</span>
                        </div>

                        <div>
                            <span>Принят, ожидается оплата</span>

                            <span>Заказ принят, но пока не обрабатывается (например, заказ только что создан или ожидается оплата заказа)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel order-item-full-panel">
                <div class="order-item-full-panel__head">
                    <div class="title title-h4">Покупатель</div>
                </div>

                <div class="row gx-0 gy-3">
                    {% for item in 1..5 %}
                        <div class="col-sm-6">
                            <small class="order-item-full__label">Ф.И.О.</small>

                            <small>test34</small>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="panel order-item-full-panel">
                <div class="order-item-full-panel__head">
                    <div class="title title-h4">Способ получения</div>

                    <span>Не отгружено</span>
                </div>

                <div class="row gx-0 gy-3">
                    <div class="col-sm-6">
                        <small class="order-item-full__label">Служба доставки</small>

                        <small>Доставка курьером</small>
                    </div>

                    <div class="col-sm-6">
                        <small class="order-item-full__label">Сумма</small>

                        <small class="order-item-full__price">500 ₽</small>
                    </div>
                </div>
            </div>

            <div class="panel sm order-item-full-panel">
                <div class="order-item-full-panel__head">
                    <div class="title title-h4">Способ оплаты</div>

                    <span>Не отгружено</span>
                </div>

                <div class="row gx-0 gy-3">
                    <div class="col-sm-6">
                        <small class="order-item-full__label">Служба доставки</small>

                        <small>Доставка курьером</small>
                    </div>

                    <div class="col-sm-6">
                        <small class="order-item-full__label">Сумма</small>

                        <small class="order-item-full__price">500 ₽</small>
                    </div>
                </div>
            </div>

            <div class="order-item-full-products">
                {% for item in 1..4 %}
                    <div class="order-item-full-product">
                        <a href="" class="order-item-full-product__img">
                            <img src="https://premier-demo.ru/upload/resize_cache/iblock/74d/56_56_1/lhg0kvvav104xydq5eo5d112wz0p9vwf.jpg" alt="">
                        </a>

                        <a href="" class="order-item-full-product__title title title-h7">Резиновые сапоги для девочек 25 желтый</a>

                        <div class="order-item-full-product__prices">
                            <div class="order-item-full-product__price">
                                1 900 ₽ x 1 шт
                            </div>

                            <div class="order-item-full-product__price is-factual">
                                1 900 ₽
                            </div>
                        </div>

                        {% include '@components/@shop/actions.twig' with {
                            actions_list: ['favorite', 'wish'],
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="order-item-full__right">
            <div>
                <div class="alert alert-danger">
                    Ожидает оплату
                </div>

                <div class="order-item-full-totals">
                    <div class="order-item-full__prices">
                        <div>
                            <span>Товары, 2 шт.</span>
                            <span>1 400 ₽</span>
                        </div>

                        <div>
                            <span>Доставка</span>
                            <span>500 ₽</span>
                        </div>
                    </div>

                    <div class="order-item-full-totals__head">
                        <div class="title title-h4">Итого</div>

                        <div>
                            {% include '@components/@shop/price.twig' with {
                                price_size: 'lg',
                            } %}
                        </div>
                    </div>

                    <div class="order-item-full-totals__buttons">
                        <a href="checkout.html"
                           class="button button-default button-xl button-block">
                            Оплатить заказ
                        </a>

                        <a href="" class="button button-solid button-lg button-block">
                            Повторить заказ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
