{% extends 'templates/account.twig' %}

{% block account_page %}

    <div class="account-page-selects">
        {% for item in 1..3 %}
            <select class="form-input form-input--sm">
                <option value="1">Любой статус заказа</option>
                <option value="1">Любой статус заказа</option>
                <option value="1">Любой статус заказа</option>
                <option value="1">Любой статус заказа</option>
            </select>
        {% endfor %}
    </div>

    {% for item in 1..5 %}
        {% include 'item/order-item.twig' %}
    {% endfor %}

{% endblock %}
