{% extends 'templates/account.twig' %}

{% block account_page %}

    <div class="row g-3">
        <div class="col-12">
            <div class="worksheet panel panel-hover-shadow lg">
                <svg class="worksheet__chevron" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 6 12" fill="none" id="right-hollow">
                    <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

                <small class="worksheet__description">Личные данные</small>

                <div class="title title-h3">Тигран Асмян</div>

                <div class="worksheet__contacts">
                    <span>testtest223@test.com</span>

                    <span>+7 914 544-11-11</span>
                </div>

                <a href="account-data.html" class="worksheet__link"></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="worksheet panel panel-hover-shadow worksheet-sm">
                <svg class="worksheet__chevron" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 6 12" fill="none" id="right-hollow">
                    <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

                <svg width="32" height="32" class="worksheet__icon">
                    <use href="img/svg/icons.svg#favorite-32-32"></use>
                </svg>

                <div class="worksheet__bottom">
                    <span class="title title-h6">Избранное</span>
                    <div class="worksheet__description">2 товара</div>
                </div>

                <a href="favorites.html" class="worksheet__link"></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="worksheet panel panel-hover-shadow worksheet-sm">
                <svg class="worksheet__chevron" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 6 12" fill="none" id="right-hollow">
                    <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

                <svg width="32" height="32" class="worksheet__icon">
                    <use href="img/svg/icons.svg#orders-32-32"></use>
                </svg>

                <div class="worksheet__bottom">
                    <span class="title title-h6">Заказы</span>
                    <div class="worksheet__description">2 заказа</div>
                </div>

                <a href="account-orders.html" class="worksheet__link"></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="worksheet panel panel-hover-shadow worksheet-sm">
                <svg class="worksheet__chevron" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 6 12" fill="none" id="right-hollow">
                    <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

                <svg width="32" height="32" class="worksheet__icon">
                    <use href="img/svg/icons.svg#profile-32-32"></use>
                </svg>

                <div class="worksheet__bottom">
                    <span class="title title-h6">Профиль</span>
                    <div class="worksheet__description">1 профиль</div>
                </div>

                <a href="account-profiles.html" class="worksheet__link"></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="worksheet panel panel-hover-shadow worksheet-sm">
                <svg class="worksheet__chevron" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 6 12" fill="none" id="right-hollow">
                    <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

                <svg width="32" height="32" class="worksheet__icon">
                    <use href="img/svg/icons.svg#help-32-32"></use>
                </svg>

                <div class="worksheet__bottom">
                    <span class="title title-h6">Помощь</span>
                    <div class="worksheet__description">Задать вопрос</div>
                </div>

                <a href="help.html" class="worksheet__link"></a>
            </div>
        </div>
    </div>

{% endblock %}