{% extends 'templates/page.twig' %}

{% block title %}Home Page - Aspro{% endblock %}

{% block page_title %}Блог{% endblock %}

{% block page_content %}

    <div class="page__layout page__layout--default">
        ыфв
    </div>

{% endblock %}