{% extends 'templates/page.twig' %}

{% block title %}Акции - Aspro{% endblock %}

{% block page_title %}Парфюмерия{% endblock %}

{% block page_text %}
    Обратить на себя внимание и показать окружающим чувство вкуса поможет качественный парфюм. Он, как вишенка на торте, сделает законченным любой образ и придаст уверенности в себе. Будьте всегда на высоте с ароматами от популярных брендов!
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="catalog-page__wrapper">
            <div class="catalog-page__aside">
                <div class="filter">
                    <div class="filter-item">
                        <a
                                class="filter-item__head collapsed"
                                data-bs-toggle="collapse"
                                href="#FilterCategories"
                                role="button"
                                aria-expanded="false"
                                aria-controls="FilterCategories"
                        >
                            <span>Категория</span>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" >
                                <path d="M6 4L9 8L6 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>

                        <div class="collapse" id="FilterCategories">
                            <div class="filter-item__content">
                                asdasd
                            </div>
                        </div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-item__title">Розничная цена</div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-item__title">Наши предложения</div>
                    </div>

                    <div class="filter-item">
                        <div class="filter-item__title">Бренд</div>
                    </div>
                </div>
            </div>

            <div class="catalog-page__content">
                <div>
                    asdasd
                </div>

                <div>
                    <div class="row">
                        {% for item in 1..3 %}
                            <div class="col-4">
                                {% include '../components/shop/product.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="text-content">
                    <p>
                        Если появились вопросы по нюансам покупки, пишите в наш онлайн-чат. Подберем идеальный для вас
                        вариант, сориентируем по способам оплаты и рассчитаем стоимость доставки.
                    </p>

                    <p>
                        Если появились вопросы по нюансам покупки, пишите в наш онлайн-чат. Подберем идеальный для вас
                        вариант, сориентируем по способам оплаты и рассчитаем стоимость доставки.
                    </p>

                    <p>
                        Если появились вопросы по нюансам покупки, пишите в наш онлайн-чат. Подберем идеальный для вас
                        вариант, сориентируем по способам оплаты и рассчитаем стоимость доставки.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_other_sections %}
    <div class="container section">
        <div class="section__main">
            <h3 class="title title-h3">Вы смотрели</h3>

            <div class="swiper js-products-view-slider">
                <div class="swiper-wrapper">
                    {% for item in 1..10 %}
                        <div class="swiper-slide">
                            {% include '../components/shop/product-view.twig' with {
                                badge: { text: '-10%', type: 'red' }
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-next swiper-arrow"></div>
                <div class="swiper-button-prev swiper-arrow"></div>
            </div>
        </div>
    </div>
{% endblock %}