{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'catalog-page',
        main: 'catalog-page__main',
    },
    title: 'Демоверсия Аспро: Премьер — готовый сайт на 1С-Битрикс',
    breadcrumbs: [
        { text: 'Каталог', href: '/blog' },
    ],
} %}

{% block content %}
    <section class="section">
        <div class="container section__main">
            <h1 class="title title-h1">Избранные товары</h1>

            <div class="text-content">
                <p>
                    Обратить на себя внимание и показать окружающим чувство вкуса поможет качественный парфюм. Он, как
                    вишенка на торте, сделает законченным любой образ и придаст уверенности в себе. Будьте всегда на
                    высоте с ароматами от популярных брендов!
                </p>
            </div>

            <div class="section__wrapper">
                <div class="section__aside">
                    <div>
                        {% include '@components/filter.twig' %}
                    </div>
                </div>

                <div class="section__content">
                    <div class="catalog-page__top">
                        <a href="" class="button button-sm button-solid catalog-page-top__toggle-filter"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#FilterMobile"
                           aria-controls="FilterMobileExample">
                            <svg width="13" height="12">
                                <use xlink:href="img/svg/icons.svg#filter"></use>
                            </svg>

                            Все фильтры
                        </a>

                        <div class="dropdown">
                            <button class="button button-solid button-sm dropdown-toggle catalog-page__sorting"
                                    type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                            <span>
                                <svg width="12" height="12">
                                    <use xlink:href="img/svg/icons.svg#sort"></use>
                                </svg>
                            </span>

                                <span>По свойству "Наличие в магазинах" (убывание)</span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>

                        <div class="grid-actions">
                            <a href="" class="grid-actions__item active">
                                <svg width="12" height="12">
                                    <use xlink:href="img/svg/icons.svg#tile"></use>
                                </svg>
                            </a>
                            <a href="" class="grid-actions__item">
                                <svg width="12" height="12">
                                    <use xlink:href="img/svg/icons.svg#table"></use>
                                </svg>
                            </a>
                            <a href="" class="grid-actions__item">
                                <svg width="12" height="12">
                                    <use xlink:href="img/svg/icons.svg#list"></use>
                                </svg>
                            </a>
                            <a href="" class="grid-actions__item">
                                <svg width="12" height="12">
                                    <use xlink:href="img/svg/icons.svg#price"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-md-3 g-2">
                        {% for item in 1..10 %}
                            <div class="col">
                                {% include 'item/product/product-item.twig' %}
                            </div>
                        {% endfor %}
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="row g-md-3 g-3">
                        {% for item in 1..3 %}
                            <div class="col-xl-4 col-6">
                                {% include 'item/product/product-item.twig' %}
                            </div>
                        {% endfor %}
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="product-card-list">
                        <div class="row g-md-0 g-sm-2 g-0">
                            {% for item in 1..6 %}
                                <div class="col-md-12 col-6">
                                    {% include 'item/product/product-item-list.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div>
                        <div class="catalog-page__thead">
                            {% include '@components/forms/checkbox.twig' with { label: 'Выбрать все', id: 'prop-sale' } %}

                            <button class="button button-default button-block button-sm">В корзину</button>

                            {% include '@components/@shop/actions.twig' with {
                                actions_list: ['favorite', 'wish'],
                                actions_classes: 'product-item__actions',
                            } %}
                        </div>

                        <div class="product-card-list">
                            <div class="row g-md-0 g-sm-2 g-0">
                                {% for item in 1..6 %}
                                    <div class="col-md-12 col-6">
                                        {% include 'item/product/product-item-table.twig' %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="text-content catalog-page__seo">
                        <p>
                            Если появились вопросы по нюансам покупки, пишите в наш онлайн-чат. Подберем идеальный для
                            вас
                            вариант, сориентируем по способам оплаты и рассчитаем стоимость доставки.
                        </p>

                        <p>
                            Если появились вопросы по нюансам покупки, пишите в наш онлайн-чат. Подберем идеальный для
                            вас
                            вариант, сориентируем по способам оплаты и рассчитаем стоимость доставки.
                        </p>

                        <p>
                            Если появились вопросы по нюансам покупки, пишите в наш онлайн-чат. Подберем идеальный для
                            вас
                            вариант, сориентируем по способам оплаты и рассчитаем стоимость доставки.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container section">
        <div class="section__main">
            <h2 class="title title-h2">Вы смотрели</h2>

            <div class="swiper js-products-view-slider">
                <div class="swiper-wrapper">
                    {% for item in 1..10 %}
                        <div class="swiper-slide">
                            {% include 'item/product/product-item-viewed.twig' with {
                                badge: { text: '-10%', type: 'red' }
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-next swiper-arrow"></div>
                <div class="swiper-button-prev swiper-arrow"></div>
            </div>
        </div>
    </section>
{% endblock %}