{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'catalog-page',
    },
    breadcrumbs: [
        { text: 'Каталог', href: 'cart.html', active: true },
    ]
} %}

{% block content %}
    <section class="section">
        <div class="container section__main">

            <div class="title title-h1">Каталог</div>

            <div class="category-card-items is-scrollable-mobile" style="
    display: flex;
">
                <div class="category-card-items__col">
                    <a href="/catalog/eda-i-napitki/orehi-i-sneki" class="category-card-item">
                        <img src="cache/resize/categories/82cjpkckta.100.100.webp" class="category-card-item__picture">
                        <span class="category-card-item__content">
                        <span class="category-card-item__title">Орехи и снеки</span>
                        <span class="category-card-item__text">4 товаров</span>
                    </span>
                    </a>
                </div>
                <div class="category-card-items__col">
                    <a href="/catalog/eda-i-napitki/kofe-i-chay" class="category-card-item">
                        <img src="cache/resize/categories/mx9ojbdcng.100.100.webp" class="category-card-item__picture">
                        <span class="category-card-item__content">
                        <span class="category-card-item__title">Кофе и чай</span>
                        <span class="category-card-item__text">4 товаров</span>
                    </span>
                    </a>
                </div>
                <div class="category-card-items__col">
                    <a href="/catalog/eda-i-napitki/zdorovoe-pitanie" class="category-card-item">
                        <img src="cache/resize/categories/pqfx3umvbr.100.100.webp" class="category-card-item__picture">
                        <span class="category-card-item__content">
                        <span class="category-card-item__title">Здоровое питание</span>
                        <span class="category-card-item__text">4 товаров</span>
                    </span>
                    </a>
                </div>
                <div class="category-card-items__col">
                    <a href="/catalog/eda-i-napitki/vypechka-i-sladosti" class="category-card-item">
                        <img src="cache/resize/categories/8neu425y8o.100.100.webp" class="category-card-item__picture">
                        <span class="category-card-item__content">
                        <span class="category-card-item__title">Выпечка и сладости</span>
                        <span class="category-card-item__text">6 товаров</span>
                    </span>
                    </a>
                </div>
            </div>

            <div class="row g-4">
                {% for item in 1..20 %}
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        {% include 'item/catalog-item.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
