{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'single-product-page',
    },
    breadcrumbs: [
        { text: 'Каталог', href: 'catalog.html' },
        { text: 'Набор для создания свечи', href: 'cart.html', active: true },
    ]
} %}

{% block content %}

    <div class="container">
        <div class="product-full">
            <div class="product-full__gallery product-full-gallery">
                <div>
                    <div class="product-full-gallery__main">
                        <div class="swiper js-product-full-main-slider ">
                            <div class="swiper-wrapper">
                                {% for item in 1..4 %}
                                    <div class="swiper-slide">
                                <span>
                                    <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                                </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-gallery__nav">
                        <div class="swiper js-product-full-thumbs-slider">
                            <div class="swiper-wrapper">
                                {% for item in 1..4 %}
                                    <div class="swiper-slide">
                                    <span>
                                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                                    </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-full__wrapper">
                <div class="product-full__info product-full-info">
                    <div class="product-full-info__top">
                        <div>
                            <div class="product-full__badges product-badges">
                                {% include '@components/ui/badge.twig' with { badge_text: 'Хит', badge_type: 'green', badge_tag: 'div' } %}
                                {% include '@components/ui/badge.twig' with { badge_text: 'Новинка', badge_type: 'orange', badge_tag: 'div' } %}
                                {% include '@components/ui/badge.twig' with { badge_text: 'Советуем', badge_type: 'purple', badge_tag: 'div' } %}
                            </div>

                            <h2 class="product-full__title title title-h3">
                                Набор для создания свечи
                            </h2>
                        </div>

                        <div class="product-full__center">
                            <div class="info-box">
                                <div class="info-box__item">
                                    <div class="info-box__icon">
                                        <svg width="14" height="15">
                                            <use xlink:href="img/svg/icons.svg#star"></use>
                                        </svg>
                                    </div>

                                    <span class="info-box__text">9</span>
                                </div>

                                <div class="info-box__item">
                                    <div class="info-box__icon is-comment">
                                        <svg width="13" height="12">
                                            <use xlink:href="img/svg/icons.svg#review"></use>
                                        </svg>
                                    </div>

                                    <span class="info-box__text">0</span>
                                </div>
                            </div>

                            {% include '@components/@shop/actions.twig' with {
                                actions_list: ['favorite', 'wish'],
                                actions_classes: 'product-full__actions',
                            } %}
                        </div>
                    </div>

                    <div class="is-mobile product-full__prices">
                        {% include '@components/@shop/price.twig' with { price_size: 'xl' } %}

                        <small>Цена указана с учётом НДС 22%</small>

                        {% include '@components/@shop/cashback.twig' %}
                    </div>

                    <div class="product-full-info__row">
                        <div class="variant lg">
                            <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                            <div class="variant__list">
                                {% for item in 1..2 %}
                                    <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}">
                                        S
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-info__row">
                        <div class="variant lg">
                            <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                            <div class="variant__list">
                                {% for item in 1..2 %}
                                    <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}"
                                            style="background-color: #a56ffd">
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-info__row">
                        <div class="variant lg">
                            <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                            <div class="variant__list">
                                {% for item in 1..4 %}
                                    <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}"
                                            style="background-image: url('https://premier-demo.ru/upload/iblock/ca7/cyah1pp4hju0qyqahn0u32rv5hplyn17.jpg')">
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="product-full-info__row is-desktop">
                        <div class="title title-h7">Характеристики</div>

                        <div class="product-item__props properties">
                            <div class="properties__item">
                                <span>Материал:</span>
                                <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
                            </div>

                            <div class="properties__item">
                                <span>Общая мощность, Вт:</span>
                                <span>12</span>
                            </div>

                            <div class="properties__item">
                                <span>Габариты (ВхШхГ), см:</span>
                                <span>13х34х6</span>
                            </div>

                            <div class="properties__item">
                                <span>Дополнительно:</span>
                                <span>Кодирование звука в MP3 формат</span>
                            </div>
                        </div>

                        <a href="" class="product-full__link">Все характеристики</a>
                    </div>

                    <div class="product-full-info__row is-desktop">
                        <div class="title title-h7">Описание</div>

                        <p class="product-full__description">
                            Создание свечей — последний тренд в мире рукоделия. Сделайте душистые и красивые свечи
                            своими руками.
                        </p>

                        <a href="" class="product-full__link">Все описание</a>
                    </div>

                    <div class="product-full-info__row">
                        <div class="title title-h7">Описание</div>

                        <div class="swiper js-swiper-accessories-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-item-viewed is-accessory">
                                        <a href="">
                                            <img width="96" height="96"
                                                 src="https://premier-demo.ru/upload/resize_cache/iblock/a84/192_192_1/goaqzv53n9svrropgfrarjtxeh92fwqa.jpg"
                                                 alt="">
                                        </a>
                                        <div class="product-item-viewed__info">
                                            <a href="" class="product-item-viewed__title">
                                                Классическая помада Fior 133 Беспечный розовый
                                            </a>
                                            <div class="product-item-viewed__bottom">
                                                <div class="product-item-viewed__price price price-sm">
                                                    <span class="price__now">1 300 ₽/шт</span>
                                                    <span class="price__old">1 600 ₽/шт</span>
                                                </div>
                                                <span class="badge badge-red badge-sm">-10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="product-item-viewed is-accessory">
                                        <a href="">
                                            <img width="96" height="96"
                                                 src="https://premier-demo.ru/upload/resize_cache/iblock/a84/192_192_1/goaqzv53n9svrropgfrarjtxeh92fwqa.jpg"
                                                 alt="">
                                        </a>
                                        <div class="product-item-viewed__info">
                                            <a href="" class="product-item-viewed__title">
                                                Классическая помада Fior 133 Беспечный розовый
                                            </a>
                                            <div class="product-item-viewed__bottom">
                                                <div class="product-item-viewed__price price price-sm">
                                                    <span class="price__now">1 300 ₽/шт</span>
                                                    <span class="price__old">1 600 ₽/шт</span>
                                                </div>
                                                <span class="badge badge-red badge-sm">-10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="product-item-viewed is-accessory">
                                        <a href="">
                                            <img width="96" height="96"
                                                 src="https://premier-demo.ru/upload/resize_cache/iblock/a84/192_192_1/goaqzv53n9svrropgfrarjtxeh92fwqa.jpg"
                                                 alt="">
                                        </a>
                                        <div class="product-item-viewed__info">
                                            <a href="" class="product-item-viewed__title">
                                                Классическая помада Fior 133 Беспечный розовый
                                            </a>
                                            <div class="product-item-viewed__bottom">
                                                <div class="product-item-viewed__price price price-sm">
                                                    <span class="price__now">1 300 ₽/шт</span>
                                                    <span class="price__old">1 600 ₽/шт</span>
                                                </div>
                                                <span class="badge badge-red badge-sm">-10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="product-item-viewed is-accessory">
                                        <a href="">
                                            <img width="96" height="96"
                                                 src="https://premier-demo.ru/upload/resize_cache/iblock/a84/192_192_1/goaqzv53n9svrropgfrarjtxeh92fwqa.jpg"
                                                 alt="">
                                        </a>
                                        <div class="product-item-viewed__info">
                                            <a href="" class="product-item-viewed__title">
                                                Классическая помада Fior 133 Беспечный розовый
                                            </a>
                                            <div class="product-item-viewed__bottom">
                                                <div class="product-item-viewed__price price price-sm">
                                                    <span class="price__now">1 300 ₽/шт</span>
                                                    <span class="price__old">1 600 ₽/шт</span>
                                                </div>
                                                <span class="badge badge-red badge-sm">-10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div type="button" class="swiper-button-prev swiper-arrow"></div>

                            <div type="button" class="swiper-button-next swiper-arrow"></div>
                        </div>
                    </div>
                </div>

                <div class="product-full__end">
                    <div>
                        <div class="product-full__panel">
                            <div class="is-desktop product-full__prices">
                                {% include '@components/@shop/price.twig' with { price_size: 'xl' } %}

                                <small>Цена указана с учётом НДС 22%</small>

                                {% include '@components/@shop/cashback.twig' %}
                            </div>

                            <div class="product-full__buttons">
                                <a href="" class="button button-xl button-default button-block">
                                    В корзину
                                </a>

                                <a href="" class="button button-lg button-transparent-bg button-block">
                                    Купить в 1 клик
                                </a>
                            </div>

                            <div class="product-full__helpers">
                                <div class="status lg">
                                    <svg width="13" height="12">
                                        <use xlink:href="img/svg/icons.svg#instock"></use>
                                    </svg>

                                    <span class="status__text">В наличии</span>
                                </div>

                                <div class="product-full__links product-full-links">
                                    <a href="" class="product-full-links__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                            <use xlink:href="img/svg/icons.svg#valet-16-16"></use>
                                        </svg>

                                        <span>Нашли дешевле?</span>
                                    </a>

                                    <a href="" class="product-full-links__item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                            <use xlink:href="img/svg/icons.svg#gift-16-17"></use>
                                        </svg>

                                        <span>Хочу в подарок</span>
                                    </a>
                                </div>

                                <div class="product-full__notify">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                        <use xlink:href="img/svg/icons.svg#attention-16-16"></use>
                                    </svg>

                                    <span>Реальный цвет товара может отличаться от представленного в зависимости от настроек вашего монитора</span>
                                </div>
                            </div>
                        </div>

                        <div class="product-full-brand">
                            <a href="" class="product-full-brand__logo">
                                <img src="https://premier-demo.ru/upload/iblock/609/zkswirsbbq51mkqrljafnhurvzf97ee8.png"
                                     alt="" width="80">
                            </a>

                            <div class="product-full-brand__links">
                                <a href="" class="button button-sm button-solid">
                                    Все товары
                                </a>

                                <a href="" class="button button-sm button-solid">
                                    Все товары категории
                                </a>
                            </div>

                            <small class="product-full-brand__text">
                                Цена действительна только для интернет-магазина и может отличаться от цен в розничных
                                магазинах
                            </small>
                        </div>

                        <div class="product-full-info__row is-mobile">
                            <div class="title title-h7">Характеристики</div>

                            <div class="product-item__props properties">
                                <div class="properties__item">
                                    <span>Материал:</span>
                                    <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
                                </div>

                                <div class="properties__item">
                                    <span>Общая мощность, Вт:</span>
                                    <span>12</span>
                                </div>

                                <div class="properties__item">
                                    <span>Габариты (ВхШхГ), см:</span>
                                    <span>13х34х6</span>
                                </div>

                                <div class="properties__item">
                                    <span>Дополнительно:</span>
                                    <span>Кодирование звука в MP3 формат</span>
                                </div>
                            </div>

                            <a href="" class="product-full__link">Все характеристики</a>
                        </div>

                        <div class="product-full-info__row is-mobile">
                            <div class="title title-h7">Описание</div>

                            <p class="product-full__description">
                                Создание свечей — последний тренд в мире рукоделия. Сделайте душистые и красивые свечи
                                своими руками.
                            </p>

                            <a href="" class="product-full__link">Все описание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Купить набор</span>
            </h2>

            <div class="product-kit">
                <div class="product-kit__aside product-kit-general">
                    <div class="product-kit-general__img">
                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                    </div>

                    <div>
                        <span class="product-kit-general__count">25 000 ₽ x 1 шт</span>

                        <span class="product-kit-general__name">Косуха из натуральной кожи Коричневый M</span>
                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                    <use xlink:href="img/svg/icons.svg#plus"></use>
                </svg>

                <div class="product-kit__list">
                    {% for item in 1..2 %}
                        <div class="product-kit__item product-kit-item">
                            <a href="" class="product-kit-item__img">
                                <img class="img-responsive image-rounded-x lazyloaded" loading="lazy" decoding="async"
                                     src="https://premier-demo.ru//upload/resize_cache/iblock/266/48_48_1/hxl42oxlaontvtgopj9qojkzi4lqcs2v.jpg">
                            </a>

                            <div>
                                <a href="" class="product-kit-item__title title title-h6">
                                    Платье с цветами M
                                </a>

                                <div class="product-kit-item__price is-mobile">
                                    3 500 ₽ x 1 шт
                                </div>
                            </div>

                            <div class="product-kit-item__end">
                                <div class="product-kit-item__price is-desktop">
                                    3 500 ₽ x 1 шт
                                </div>

                                <button class="product-kit-item__delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                        <use xlink:href="img/svg/icons.svg#close"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
                    <use xlink:href="img/svg/icons.svg#equal"></use>
                </svg>

                <div class="product-kit__aside">
                    {% include '@components/@shop/price.twig' with {price_size: 'xl'} %}

                    <a href="" class="button button-default button-lg">
                        Купить набор
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <div class="row">
                <div class="col-lg-9 text-content">
                    <p>
                        Не так давно стали популярны мастер-классы по созданию свечей. Кэндлинг, как иначе называют
                        этот процесс, не только эстетичный, но и утилитарный. То есть свечи создаются не только для
                        красоты. Их также используют для создания приятного запаха или романтичной атмосферы в доме.
                    </p>

                    <p>
                        Если вам понравился кэндлинг, но хочется заняться им дома в уютной атмосфере —
                        воспользуйтесь специальным набором. В нем уже есть все необходимые материалы: воск, фитиль с
                        держателем, емкость для плавления, ароматические масла и декоративные элементы. При
                        оформлении заказа выберите желаемый запах будущей свечки. Наличие ароматов можете уточнить у
                        наших менеджеров по телефону.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Характеристики</span>
            </h2>

            {% for item in 1..2 %}
                <div class="properties-main">
                    <div class="properties-main__title title title-h6">Общие характеристики</div>

                    <div class="row">
                        {% for item in 1..5 %}
                            <div class="col-lg-6 properties-main__col">
                                <div class="properties-main__item">
                                    <span>Тип</span>

                                    <a href="">Верхняя одежда</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Отзывы</span>
            </h2>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Оплата</span>
            </h2>

            <div class="text-content">
                <p>
                    Оплачивайте покупки удобным способом. В интернет-магазине доступно 3 варианта оплаты:
                </p>

                <ol>
                    <li>
                        Наличные при самовывозе или доставке курьером. Специалист свяжется с вами в день доставки, чтобы
                        уточнить время и заранее подготовить сдачу с любой купюры. Вы подписываете
                        товаросопроводительные документы, вносите денежные средства, получаете товар и чек.
                    </li>

                    <li>
                        Безналичный расчет при самовывозе или оформлении в интернет-магазине: карты МИР, Visa и
                        MasterCard. Чтобы оплатить покупку, система перенаправит вас на сервер системы ASSIST. Здесь
                        нужно ввести номер карты, срок действия и имя держателя.
                    </li>

                    <li>
                        ЮMoney при онлайн-заказе. Для совершения покупки система перенаправит вас на страницу платежного
                        сервиса. Здесь необходимо заполнить форму по инструкции.
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span>Доставка</span>
            </h2>

            <div class="text-content">
                <p>
                    Оплачивайте покупки удобным способом. В интернет-магазине доступно 3 варианта оплаты:
                </p>

                <ol>
                    <li>
                        Наличные при самовывозе или доставке курьером. Специалист свяжется с вами в день доставки, чтобы
                        уточнить время и заранее подготовить сдачу с любой купюры. Вы подписываете
                        товаросопроводительные документы, вносите денежные средства, получаете товар и чек.
                    </li>

                    <li>
                        Безналичный расчет при самовывозе или оформлении в интернет-магазине: карты МИР, Visa и
                        MasterCard. Чтобы оплатить покупку, система перенаправит вас на сервер системы ASSIST. Здесь
                        нужно ввести номер карты, срок действия и имя держателя.
                    </li>

                    <li>
                        ЮMoney при онлайн-заказе. Для совершения покупки система перенаправит вас на страницу платежного
                        сервиса. Здесь необходимо заполнить форму по инструкции.
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            <h2 class="title title-h3">
                <span> Вам также может понравиться</span>
            </h2>

            <div class="product-items is-scrollable-mobile" data-view="grid">
                {% for item in 1..5 %}
                    {% include 'item/product/product-item.twig' with { disabled_bottom: true } %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="container section">
        <div class="section__main">
            <h2 class="title title-h2">Вы смотрели</h2>

            <div class="swiper js-products-view-slider">
                <div class="swiper-wrapper">
                    {% for item in 1..10 %}
                        <div class="swiper-slide">
                            {% include 'item/product/product-item-viewed.twig' with {
                                badge: { text: '-10%', type: 'red' }
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-next swiper-arrow"></div>
                <div class="swiper-button-prev swiper-arrow"></div>
            </div>
        </div>
    </section>

{% endblock %}