.badge {
  font-weight: 500;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: calc(1rem - 4px);
  border-radius: 4px;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;

  &-sm {
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &-dark-opacity {
    background-color: rgba(34, 34, 40, .32);
  }

  &-purple {
    background: #a56ffd;
  }

  &-orange {
    background: #ff7455;
  }

  &-green {
    background: #32cb41;
  }

  &-red {
    background: #ff4f64;
  }
}
/* badges */
.badge-sale {
    background-color: #ffeca8;
    color: #222;
}

.badge-new {
    background-color: #32cb41;
    color: #fff;
}

.badge-hit {
    background-color: #ff7455;
    color: #fff;
}

.badge-recomend {
    background-color: #a56ffd;
    color: #fff;
}

.badge-countdown {
    background: #FFE5E3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.badge-countdown svg {
    transform: translateY(1px);
}

.badge-countdown span {
    display: flex;
    gap: 3px;
    color: rgb(34, 34, 34);
}
