@use 'abstracts/mixins';

.panel {
  padding: 32px;
  border: 1px solid rgb(var(--stroke_black));
  border-radius: var(--settings-main-border-radius);
  background: rgb(var(--card_bg_black));

  @media (max-width: 991px) {
    padding: 24px;
  }

  &-xs {
    padding: 16px!important;
  }

  &-sm {
    padding: 24px;

    @media (max-width: 991px) {
      padding: 16px;
    }
  }

  &-hover-shadow {
    @include mixins.card_hover_shadow_effect();
  }
}