@use "abstracts/mixins";

.product-full {
  display: flex;

  .is-desktop {
    @media (max-width: 1199px) {
      display: none !important;
    }
  }

  .is-mobile {
    @media (min-width: 1200px) {
      display: none;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    gap: 24px;
  }

  &__notify {
    display: flex;
    fill: rgb(var(--white_text_black));
    gap: 8px;
    align-items: center;
    color: rgb(var(--basic_text_black));
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);

    svg {
      min-width: 16px;
      height: 16px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__helpers {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    gap: 8px;

    small {
      opacity: 0.5;
    }
  }

  &__start {
    display: flex;
    gap: 40px;
  }

  &__title {
    @include mixins.shorted_text(1)
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .swiper {
      width: 100%;
    }

    @media (min-width: 1200px) {
      padding-left: 40px;
      padding-right: 24px;
      flex: 0 0 calc(100% - 358px);
      max-width: calc(100% - 358px);
    }

    @media (max-width: 767px) {
      gap: 16px;
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
  }

  &__description {
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
    margin: 0;
  }

  &__link {
    @include mixins.link_decoration;
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
  }

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(var(--stroke_black));
  }

  &__badges {
    margin-bottom: 8px;
  }

  &__end {
    position: relative;

    @media (min-width: 1200px) {
      flex: 0 0 358px;
      max-width: 358px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: sticky;
      top: 110px;

      @media (min-width: 1200px) {
        width: 358px;
        flex: 0 0 358px;
      }
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    @media (max-width: 1199px) {
      gap: 24px;
    }

    @media (min-width: 992px) {
      flex: 0 0 calc(100% - 700px);
      max-width: calc(100% - 700px);

      @media (max-width: 1199px) {
        padding-left: 24px;
        flex-direction: column;
      }

      @media (max-width: 1400px) {
        flex: 0 0 calc(100% - 500px);
        max-width: calc(100% - 500px);
      }
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 1200px) {
      padding: 24px;
      border-radius: var(--settings-main-border-radius);
      border: 1px solid rgb(var(--stroke_black));
    }

    & > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.product-full-gallery {
  @media (min-width: 992px) {
    max-width: 700px;
    flex: 0 0 700px;

    @media (max-width: 1400px) {
      max-width: 500px;
      flex: 0 0 500px;
    }
  }

  & > div {
    position: sticky;
    top: 110px;
  }
}

.product-full-info {
  &__row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.product-full-links {
  display: flex;
  gap: 12px;
  flex-direction: column;

  &__item {
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
    text-decoration: none;
    stroke: rgb(var(--white_text_black));
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      @include mixins.link_decoration;

    }
  }
}

.product-full-brand {
  display: flex;
  gap: 24px;
  flex-direction: column;

  &__text {
    color: rgb(var(--basic_text_black));
    font-size: calc(1rem - 3px);
    line-height: 1.5;
    display: block;
  }

  &__links {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}

.product-full-gallery {
  position: relative;

  img {
    width: 100%;
  }

  &__main {
    .swiper-slide {
      padding-top: 100%;
      position: relative;

      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0;
        border-radius: var(--settings-main-border-radius);
        background: #F8F8FC;
      }

      img {
        mix-blend-mode: darken;
        max-width: 70%;
      }
    }
  }

  &__nav {
    margin-top: 12px;

    @media (max-width: 991px) {
      display: none;
    }

    img {
      max-width: 50px;
    }

    .swiper-slide-thumb-active {
      border: 3px solid rgb(var(--white_text_black));
      border-radius: var(--settings-main-border-radius);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: var(--settings-main-border-radius);
      background: #F8F8FC;
    }

    .swiper-slide {
      height: 80px;
      cursor: pointer;
    }
  }
}

.product-full {
  &__panel .counter {
    width: 100%;
    justify-content: space-between;
    height: 40px;
  }

  &__prices small {
    font-size: 11px;
  }

  &-gallery__main .swiper-slide a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-info__row .swiper {
    width: 100%;
  }

  &-gallery__nav .swiper-arrow,
  &-info__row .swiper-arrow {
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin-top: -15px;
  }
}

.is-accessory {
  display: flex;
  gap: 12px;
  padding: 12px;

  img {
    width: 50px;
    height: 50px;
  }
}
