{% include 'system/head.twig' %}

<main class="site-main site-main--type-solid {{ page_settings.classes.main }}">
    {% if page_settings.breadcrumbs %}
        <div class="container breadcrumbs-container">
            {% include '@components/breadcrumbs.twig' with {
                items: page_settings.breadcrumbs
            } %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</main>

{% include 'system/footer.twig' %}
