{% extends './base.twig' %}

{% block body_class %}page{% endblock %}
{% block main_class %}page__main{% endblock %}

{% block content %}
    <div>
        <div class="page__head container">
            {% include '../components/ui/breadcrumbs.twig' with {
                items: [
                    { text: 'Бренды' }
                ]
            } %}

            <h1 class="title title-h1">{% block page_title %}{% endblock %}</h1>

            <div class="page__description">
                <div>{% block page_text %}{% endblock %}</div>
            </div>
        </div>

        {% block page_content %}{% endblock %}
    </div>

    {% block page_other_sections %}{% endblock %}
{% endblock %}