@use "abstracts/mixins";


.account-page-profiles {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

    .title {
      @include mixins.shorted_text(1);
    }
  }
}

.account-page-selects {
  display: flex;
  margin-bottom: 24px;
  gap: 12px;
  flex-wrap: wrap;

  .form-input {
    @media (min-width: 568px) {
      width: initial;
    }
  }
}