@use "abstracts/mixins";


.account-page-profiles {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

    .title {
      @include mixins.shorted_text(1);
    }
  }
}