.auth-page {
  &__main {
    text-align: center;
  }

  .breadcrumbs {
    justify-content: center;
  }

  &__form {
    max-width: 484px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
  }
}
/* auth */
.page-auth .breadcrumbs {
    justify-content: center;
}

.auth-with-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 36px;

  &__item {
    height: 48px;
    background-color: rgb(var(--darkerblack_bg_black));
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: var(--settings-main-border-radius);
  }
}
