.catalog-page {
  div.filter-offcanvas.offcanvas-start.offcanvas {
    @media (min-width: 992px) {
      position: sticky;
      top: 120px;
      z-index: 0;
    }
  }

  .section {
    &__aside {
      display: block;
    }
  }

  &__thead {
    display: flex;
    padding-bottom: 12px;
    align-items: center;
    gap: 12px;

    .button {
      width: initial;
      margin-left: auto;
    }
    
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__sorting {
    span:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;

      @media (max-width: 767px) {
        max-width: 120px;
      }

      @media (max-width: 576px) {
        max-width: 110px;
      }
    }
  }

  &__seo {
    margin-top: 32px;

    p {
      &:last-child {
        margin: 0;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    gap: 8px;

    @media (max-width: 576px) {
      justify-content: space-between;
    }
  }
}

.catalog-page-top__toggle-filter {
  @media (min-width: 992px) {
    display: none;
  }
}