.compare-page {
  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__tabs {
    @media (max-width: 991px) {
      overflow: auto;

      white-space: nowrap;
      margin-left: calc(var(--settings-layout-container-indent) * -1);
      margin-right: calc(var(--settings-layout-container-indent) * -1);

      padding-left: var(--settings-layout-container-indent);
      padding-right: var(--settings-layout-container-indent);
    }
  }
}
.compare-page__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    opacity: 0.5;
    text-decoration: none;
    font-size: calc(1rem - 2px);
    line-height: calc(1em + 6px);
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
