.service-page-single {
  &__picture {
    img {
      max-width: 100%;
      height: auto;
      border-radius: var(--settings-image-border-radius);
    }
  }

  .section__content {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
}