@use "abstracts/mixins";

.properties {
  font-size: calc(1rem - 4px);
  line-height: calc(1em + 4px);
  display: flex;
  flex-direction: column;
  gap: 4px;

  &-md {
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
  }

  a:hover {
    color: #8D8D8D;
    text-decoration: none;
  }

  &__item {
    span {
      &:first-child {
        color: #8D8D8D;
      }
    }
  }
}

.properties-main {
  &__title {
    margin-bottom: 12px;
  }

  &__col {
    &:last-child {
      .properties-main {
        background: red;

        &__item {
          border-bottom: 1px solid rgb(var(--stroke_black));
        }
      }
    }
  }

  &__item {
    display: flex;
    height: 50px;
    border-top: 1px solid rgb(var(--stroke_black));
    display: flex;
    align-items: center;

    font-size: calc(1rem - 1px);
    line-height: calc(1em + 7px);

    & > * {
      flex: 0 0 50%;
      max-width: 50%;
    }

    a  {
      @include mixins.link_decoration;
    }
  }
}
.properties-main__item {
  border-bottom: 1px solid rgb(var(--stroke_black)) !important;
  margin-bottom: -1px;
}

/* Добавленные правила из others.css */
.properties-main__values {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.properties-main__item {
  min-height: 50px;
  height: initial;
  padding-top: 8px;
  padding-bottom: 8px;
}

.properties__item {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.properties__item span:first-child {
  display: flex;
  gap: 4px;
  align-items: center;
}
