.order-item-full {
  display: flex;
  gap: 24px;

  @media (max-width: 1299px) {
    flex-direction: column;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 13px;
    color: rgb(var(--secondary));

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  &__left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__price {
    font-size: 16px;
    font-weight: 500;
  }

  &__label {
    color: rgb(var(--secondary));
    font-size: 12px;
    display: block;
    margin-bottom: 3px;
  }

  &__right {
    position: relative;

    @media (min-width: 1300px) {
      flex: 0 0 340px;
      max-width: 340px;
    }

    & > div {
      position: sticky;
      top: 110px;

      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.order-item-full-totals {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0 3px 20px rgba(34, 34, 34, .07);
  border-radius: var(--settings-main-border-radius);
  padding: 24px;
  background: rgb(var(--card_bg_black));

  .price {
    flex-direction: column;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
    color: rgb(var(--secondary));

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.order-item-full-panel {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;

    span {
      color: red;
      font-size: 12px;
    }
  }
}

.order-item-full-products {
  border: 1px solid rgb(var(--stroke_black));
  flex-grow: 1;
  border-radius: var(--settings-main-border-radius);
}

.order-item-full-product {
  cursor: pointer;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 20px;

  position: relative;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  &__title {
    text-decoration: none;
  }

  .actions {
    @media (max-width: 991px) {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  &__prices {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 992px) {
      margin-left: auto;
    }

    @media (max-width: 991px) {
      gap: 12px;
    }
  }

  &__price {
    font-size: 14px;
    white-space: nowrap;

    &.is-factual {
      font-size: 1rem;
      font-weight: 500;
      line-height: calc(1em + 8px);
    }
  }

  &:hover {
    background: rgb(var(--card_bg_black));
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgb(var(--stroke_black));
  }

  &:first-child {
    border-top-left-radius: var(--settings-main-border-radius);
    border-top-right-radius: var(--settings-main-border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--settings-main-border-radius);
    border-bottom-right-radius: var(--settings-main-border-radius);
  }
}