@use "../abstracts/mixins";

.post-badge {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(34, 34, 40, .32);
  border-radius: 3px;
  font-weight: 500;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  font-size: calc(1rem - 4px);
}

.post-item {
  height: 100%;
  border: 1px solid rgb(var(--stroke_black));
  border-radius: var(--settings-main-border-radius);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: box-shadow ease .3s, border ease .3s, background ease .3s;

  &:hover {
    box-shadow: 0 5px 30px rgba(34, 34, 40, .08);
    border-color: transparent;
  }

  &__title {
    @include mixins.shorted_text(3);
  }

  &__date {
    font-size: calc(1rem - 3px);
    line-height: calc(1em + 5px);
    color: #8D8D8D;
    margin-top: 15px;
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @media (max-width: 991px) {
      padding: 16px;
    }
  }

  &__badge {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__picture {
    height: 275px;

    @media (max-width: 991px) {
      height: 170px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}