.categories-slider {
  position: relative;
  width: 100%;

  @media (max-width: 991px) {
    margin-left: calc(var(--settings-layout-container-indent) * -1);
    margin-right: calc(var(--settings-layout-container-indent) * -1);

    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 55px;
    margin: 0;

    @media (max-width: 991px) {
      top: 30px;
    }
  }

  .swiper-slide {
    width: 144px;

    @media (max-width: 991px) {
      width: 100px;
    }
  }

  &:not(.is-first) {
    &::before {
      display: block;
    }
  }

  &:not(.is-last) {
    &::after {
      display: block;
    }
  }

  &:before,
  &:after {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    background: rgba(24, 23, 24, 0);
    background: linear-gradient(
                    90deg,
                    rgba(var(--black_bg_black), 0) 0%,
                    rgba(var(--black_bg_black), 1) 100%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    z-index: 20;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
    transform: rotate(180deg);
  }
}

.category-item {
  $self: &;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  text-decoration: none;

  &__text {
    transition: opacity 0.2s ease;

    #{$self}:hover & {
      opacity: 0.7;
    }
  }

  &__picture {
    width: 144px;
    height: 144px;
    object-fit: cover;
    border-radius: var(--settings-image-border-radius);

    @media (max-width: 991px) {
      width: 100px;
      height: 100px;
    }
  }
}


.category-card-items {
  display: flex;

  @media (min-width: 992px) {
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
  }

  @media (max-width: 991px) {
    flex-wrap: nowrap;
    gap: 12px;
  }

  &__col {
    @media (max-width: 991px) {
      flex: 0 0 240px;
      max-width: 240px;
    }

    @media (min-width: 992px) {
      @media (max-width: 1199px) {
        flex: 0 0 25%;
        max-width: 25%;
      }

      flex: 0 0 20%;
      max-width: 20%;
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.category-card-item {
  background-color: rgb(var(--darkerblack_bg_black));
  padding: 16px 32px 16px 20px;
  border: 1px solid rgb(var(--stroke_black));
  border-radius: var(--settings-main-border-radius);
  display: flex;
  align-items: center;
  gap: 24px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;

  &:hover {
    box-shadow: 0 5px 30px rgba(34, 34, 40, .08);
    background-color: rgb(var(--card_bg_hover));
    border-color: rgb(var(--card_bg_hover));
  }

  &__picture {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__title {
    font-size: calc(1rem - 1px);
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    line-height: 1.2;
  }

  &__text {
    color: #8D8D8D;
    font-size: calc(1rem - 4px);
    line-height: calc(1em + 4px);
  }
}