<div class="product-item js-product-item" data-view="table">
    <div class="product-item__checkbox">
        {% include '@components/forms/checkbox.twig' with { id: 'prop-hit' } %}
    </div>

    <div class="product-item__image">
        <a href="">
            <img src="https://premier-demo.ru/upload/iblock/3d4/uyjic0vgy8mh1albyq5r2lx819li05tv.jpg" alt="">
        </a>
    </div>

    <div class="product-item__wrapper">
        <div class="product-item__top">
            <div class="product-item__left">
                <a href="" class="product-item__title title-h6 title">
                    Комплект ванна K-Rossei + смеситель Cателия
                </a>

                <div class="product-item__info info-box">
                    <div class="info-box__item">
                        <div class="info-box__icon">
                            <svg width="14" height="15">
                                <use xlink:href="img/svg/icons.svg#star"></use>
                            </svg>
                        </div>

                        <span class="info-box__text">9</span>
                    </div>

                    <div class="info-box__item">
                        <div class="info-box__icon is-comment">
                            <svg width="13" height="12">
                                <use xlink:href="img/svg/icons.svg#review"></use>
                            </svg>
                        </div>

                        <span class="info-box__text">0</span>
                    </div>

                    <div class="info-box__item">
                        <div class="status">
                            <svg width="13" height="12">
                                <use xlink:href="img/svg/icons.svg#instock"></use>
                            </svg>

                            <span class="status__text">В наличии</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item__right">
                <div>
                    <div class="product-item__prices">
                        {% include '@components/@shop/price.twig' %}

                        {% include '@components/ui/badge.twig' with {
                            badge_text: badge.text|default('-10%'),
                            badge_type: badge.type|default('red'),
                            badge_size: badge.size|default('sm'),
                            badge_tag: 'div'
                        } %}
                    </div>

                    {% include '@components/@shop/cashback.twig' with {
                        class: 'product-item__cashback',
                    } %}
                </div>

                <div>
                    <button class="button button-default button-block button-sm">В корзину</button>

                    {% include '@components/@shop/actions.twig' with {
                        actions_list: ['favorite', 'wish', 'cart'],
                        actions_classes: 'product-item__actions',
                    } %}
                </div>
            </div>
        </div>

        <div class="product-item__variants variants">
            {% for item in 1..2 %}
                <div class="variant">
                    <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                    <div class="variant__list">
                        {% for item in 1..12 %}
                            <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}">
                                <img src="https://premier-demo.ru/upload/iblock/ca7/cyah1pp4hju0qyqahn0u32rv5hplyn17.jpg"
                                     alt="">
                            </button>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="product-item__properties properties properties-md">
            <div class="properties__item">
                <span>Материал:</span>
                <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
            </div>

            <div class="properties__item">
                <span>Общая мощность, Вт:</span>
                <span>12</span>
            </div>

            <div class="properties__item">
                <span>Габариты (ВхШхГ), см:</span>
                <span>13х34х6</span>
            </div>

            <div class="properties__item">
                <span>Дополнительно:</span>
                <span>Кодирование звука в MP3 формат</span>
            </div>
        </div>
    </div>
</div>