<div class="product-item-basket">
    <div class="product-item-basket__left">
        <div class="product-item-basket__image">
            <a href="">
                <img src="https://premier-demo.ru/upload/resize_cache/iblock/265/160_160_1/mpxajok3khi75blouh7qxgq4crqcewv1.jpg"
                     alt="">
            </a>
        </div>

        <div class="product-item-basket__wrapper">
            <div class="product-item-basket__badges product-badges">
                {% include '@components/ui/badge.twig' with { badge_text: 'Хит', badge_type: 'green', badge_tag: 'div' } %}
                {% include '@components/ui/badge.twig' with { badge_text: 'Новинка', badge_type: 'orange', badge_tag: 'div' } %}
                {% include '@components/ui/badge.twig' with { badge_text: 'Советуем', badge_type: 'purple', badge_tag: 'div' } %}
            </div>

            <a href="" class="product-item-basket__title title title-h7">
                Классическая помада Fior 133 Беспечный розовый
            </a>

            <div class="product-item-basket__props properties">
                <div class="properties__item">
                    <span>Материал:</span>
                    <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
                </div>

                <div class="properties__item">
                    <span>Общая мощность, Вт:</span>
                    <span>12</span>
                </div>

                <div class="properties__item">
                    <span>Габариты (ВхШхГ), см:</span>
                    <span>13х34х6</span>
                </div>

                <div class="properties__item">
                    <span>Дополнительно:</span>
                    <span>Кодирование звука в MP3 формат</span>
                </div>
            </div>
        </div>
    </div>

    <div class="product-item-basket__bottom">
        <div class="product-item-basket__counter">
            {% include '@components/ui/counter.twig' %}

            <span>5 000 ₽/шт</span>
        </div>

        <div class="product-item-basket__prices">
            {% include '@components/@shop/price.twig' with {
                size: 'md',
                now: '1 300 ₽/шт',
                old: '1 600 ₽/шт',
                class: 'product-item-basket__price price'
            } %}


            {% include '@components/@shop/cashback.twig' with {
                class: 'product-item-basket__cashback'
            } %}
        </div>
    </div>

    {% include '@components/@shop/actions.twig' with {
        actions_list: ['favorite', 'wish'],
        actions_classes: 'product-item-basket__actions',
    } %}
</div>