.container {
    max-width: var(--settings-layout-container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);
}