{% set methods = methods|default(['visa', 'mastercard', 'maestro', 'mir', 'sbp', 'tinkoff', 'halva', 'cash']) %}

<div class="payments">
    {% for method in methods %}
        <div class="payments__item">
            <div class="payments__icon {{ method }}"></div>
        </div>
    {% endfor %}
</div>
