{% extends 'templates/modal.twig' %}

{% block id %}ProductFastView{% endblock %}
{% block modal_class %}modal-product{% endblock %}

{% set modal_size = 'lg' %}

{% block content %}

    <div class="modal-product__row">
        <div class="modal-product__left product-full__gallery product-full-gallery">
            <div>
                <div class="product-full-gallery__nav">
                    <div class="swiper js-product-full-thumbs-slider">
                        <div class="swiper-wrapper">
                            {% for item in 1..4 %}
                                <div class="swiper-slide">
                                    <span>
                                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="product-full-gallery__main">
                    <div class="swiper js-product-full-main-slider ">
                        <div class="swiper-wrapper">
                            {% for item in 1..4 %}
                                <div class="swiper-slide">
                                    <span>
                                        <img src="https://premier-demo.ru/upload/iblock/124/4aerrwguzei3zg2tory25gftkuetlk5q.jpg"/>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-product__right">
            <div class="product-full__info product-full-info">
                <div class="product-full-info__top">
                    <div>
                        <div class="product-full__badges product-badges">
                            {% include '@components/ui/badge.twig' with { badge_text: 'Хит', badge_type: 'green', badge_tag: 'div' } %}
                            {% include '@components/ui/badge.twig' with { badge_text: 'Новинка', badge_type: 'orange', badge_tag: 'div' } %}
                            {% include '@components/ui/badge.twig' with { badge_text: 'Советуем', badge_type: 'purple', badge_tag: 'div' } %}
                        </div>

                        <h2 class="product-full__title title title-h3">
                            Набор для создания свечи
                        </h2>
                    </div>

                    <div class="product-full__center">
                        <div class="info-box">
                            <div class="info-box__item">
                                <div class="info-box__icon">
                                    <svg width="14" height="15">
                                        <use xlink:href="img/svg/icons.svg#star"></use>
                                    </svg>
                                </div>

                                <span class="info-box__text">9</span>
                            </div>

                            <div class="info-box__item">
                                <div class="info-box__icon is-comment">
                                    <svg width="13" height="12">
                                        <use xlink:href="img/svg/icons.svg#review"></use>
                                    </svg>
                                </div>

                                <span class="info-box__text">0</span>
                            </div>

                            <div class="info-box__item">
                                <div class="status">
                                    <svg width="13" height="12">
                                        <use xlink:href="img/svg/icons.svg#instock"></use>
                                    </svg>

                                    <span class="status__text">В наличии</span>
                                </div>
                            </div>
                        </div>

                        {% include '@components/@shop/actions.twig' with {
                            actions_list: ['favorite', 'wish'],
                            actions_classes: 'product-full__actions',
                        } %}
                    </div>
                </div>

                <div class="is-mobile product-full__prices">
                    {% include '@components/@shop/price.twig' with { price_size: 'xl' } %}

                    <small>Цена указана с учётом НДС 22%</small>

                    {% include '@components/@shop/cashback.twig' %}
                </div>

                <div class="product-full-info__row">
                    <div class="variant lg">
                        <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                        <div class="variant__list">
                            {% for item in 1..2 %}
                                <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}">
                                    S
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="product-full-info__row">
                    <div class="variant lg">
                        <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                        <div class="variant__list">
                            {% for item in 1..2 %}
                                <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}"
                                        style="background-color: #a56ffd">
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="product-full-info__row">
                    <div class="variant lg">
                        <div class="variant__title">Цвет: 232 Нежный кашемир</div>

                        <div class="variant__list">
                            {% for item in 1..4 %}
                                <button type="button" class="variant__item {{ loop.index == 1 ? 'active' : '' }}"
                                        style="background-image: url('https://premier-demo.ru/upload/iblock/ca7/cyah1pp4hju0qyqahn0u32rv5hplyn17.jpg')">
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="product-full__buttons">
                    <a href="" class="button button-xl button-default button-block">
                        В корзину
                    </a>

                    <a href="" class="button button-lg button-transparent-bg button-block">
                        Купить в 1 клик
                    </a>
                </div>

                <div class="product-full__helpers">
                    <div class="status lg">
                        <svg width="13" height="12">
                            <use xlink:href="img/svg/icons.svg#instock"></use>
                        </svg>

                        <span class="status__text">В наличии</span>
                    </div>
                </div>

                <div class="product-full-info__row is-desktop">
                    <div class="product-item__props properties">
                        <div class="properties__item">
                            <span>Материал:</span>
                            <span><a href="">Дерево</a>, <a href="">Пластик</a></span>
                        </div>

                        <div class="properties__item">
                            <span>Общая мощность, Вт:</span>
                            <span>12</span>
                        </div>

                        <div class="properties__item">
                            <span>Габариты (ВхШхГ), см:</span>
                            <span>13х34х6</span>
                        </div>

                        <div class="properties__item">
                            <span>Дополнительно:</span>
                            <span>Кодирование звука в MP3 формат</span>
                        </div>
                    </div>

                    <a href="" class="product-full__link">Все характеристики</a>
                </div>

                <div class="product-full-brand">
                    <a href="" class="product-full-brand__logo">
                        <img src="https://premier-demo.ru/upload/iblock/609/zkswirsbbq51mkqrljafnhurvzf97ee8.png"
                             alt="" width="80">
                    </a>

                    <div class="product-full-brand__links">
                        <a href="" class="button button-sm button-solid">
                            Все товары
                        </a>

                        <a href="" class="button button-sm button-solid">
                            Все товары категории
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

