.badge {
  border-radius: 1px;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  height: 22px;
  padding: .4em .6em;
  display: inline-block;
  vertical-align: top;

  &-default {
    background: rgb(var(--settings-theme-primary));
  }

  @each $name, $color in (
          "primary": var(--settings-button-theme-primary),
          "success": var(--settings-button-theme-success),
          "info": var(--settings-button-theme-info),
          "warning": var(--settings-button-theme-warning),
          "danger": var(--settings-button-theme-danger)
  ) {
    &-#{$name} {
      background-color: rgb($color);
    }
  }
}