.close-btn {
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--settings-main-border-radius);
    transition: background-color .3s ease, fill .3s ease;
    fill: rgb(var(--icon_on_card));
    background-color: transparent;
    cursor: pointer;
    z-index: 50;

    svg {
        width: 16px;
        height: 16px;
    }

    &:hover {
        fill: rgb(var(--white_text_black));
        background-color: rgb(var(--darkerblack_bg_black));
    }
}
