.posts-grid {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }

  @media (max-width: 991px) {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;

    margin-left: calc(var(--settings-layout-container-indent) * -1);
    margin-right: calc(var(--settings-layout-container-indent) * -1);

    padding-left: var(--settings-layout-container-indent);
    padding-right: var(--settings-layout-container-indent);

    .post-item {
      max-width: 260px;
      width: 260px;
      flex: 0 0 260px;

      &:not(:first-child) {
        margin-left: calc(var(--settings-layout-container-indent) / 2);
      }
    }
  }
}